<link rel="stylesheet" href="/css/style/style.css" />
<link rel="stylesheet" href="/css/style/aboutus.css" />
<div class="layout">
  <div class="start">
    <h3>Ý tưởng Cà phê nhà làm từ những bước đầu tiên</h3>
    <p>
      Cà phê cũng thế. Có muôn vàn vị mà cà phê đem lại cho người thưởng thức từ những làn
      hương đầu tiên đến ngụm cà phê cuối cùng tan trên đầu lưỡi. Có muôn vàn xúc cảm, từ
      phấn chấn tận tâm can, đến lâng lâng bừng hứng khởi hay thậm chí thăng hoa khi chất
      thời gian thấm đẫm người thưởng lãm.
    </p>
    <div class="imgs">
      <img src="/images/img/st1.jpg" alt="" />
      <img src="/images/img/st2.jpg" alt="" />
      <img src="/images/img/st3.jpg" alt="" />
    </div>
  </div>

  <div class="storyline">
    <img src="/images/packaging/typical.png" alt="" />
    <div class="bodytext">
      <h3>Chuẩn cà phê nhà làm cùng hương vị nguyên bản nhất</h3>
      <h5>Typical coffee bean</h5>
      <p>
        Nếu mọi người tinh tế có thể nhận ra điều này: những chiếc ly đẹp, sặc sỡ hoặc
        bằng pha lê, sứ đều được chọn hết. Khá ít người chọn những ly không đẹp, có chăng
        là do hết ly nên buộc chọn mà thôi. Nhưng các bạn quên mất một điều, những chiếc
        ly đều có công dụng như nhau là chứa cafe. Đó chính là công dụng của nó mà các bạn
        sử dụng đến.
      </p>
    </div>
  </div>

  <div class="package">
    <h2>Packaging for our coffee</h2>
    <div class="rowp">
      <div class="colp">
        <div class="box">
          <a href="/aboutus/arabica">
            <img src="/images/Coffee/Arabica/1.jpg" width="70%" alt="" />
            <h4>Arabica coffee</h4></a
          >
        </div>
      </div>
      <div class="colp">
        <div class="box">
          <a href="/aboutus/cherry"
            ><img src="/images/Coffee/Cherry/1.jpg" width="70%" alt="" />
            <h4>Cherry coffee</h4></a
          >
        </div>
      </div>

      <div class="colp">
        <div class="box">
          <a href="/aboutus/culi"
            ><img src="/images/Coffee/Culi/1.jpg" width="70%" alt="" />
            <h4>Culi coffee</h4></a
          >
        </div>
      </div>
    </div>

    <div class="rowp">
      <div class="colp">
        <div class="box">
          <a href="/aboutus/robusta">
            <img src="/images/Coffee/Robusta/1.jpg" width="70%" alt="" />
            <h4>Robusta coffee</h4></a
          >
        </div>
      </div>

      <div class="colp">
        <div class="box">
          <a href="/aboutus/typica"
            ><img src="/images/Coffee/Typica/1.jpg" width="70%" alt="" />
            <h4>Typica coffee</h4></a
          >
          <!-- <img src="/images/Coffee/Typica/1.jpg" width="70%" alt="" />
          <a href="typical.html"><h4>Typica coffee</h4></a> -->
        </div>
      </div>

      <div class="colp">
        <div class="box">
          <a href="/aboutus/weasel">
            <img src="/images/Coffee/Weasel/1.jpg" width="70%" alt="" />
            <h4>Weasel coffee</h4></a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="ending">
    <div class="information">
      <h3>CONTACT</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
        unknown printer took a galley of type and scrambled it to make a type specimen
        book.
      </p>
      <h5>Co-Founder</h5>
      <p>Truong Nhu Quoc Thinh</p>
      <p>Vu Phuong Anh</p>

      <h5>Technology director</h5>
      <p>Nguyen Thanh Phung</p>

      <h5>Account manager</h5>
      <p>Pham Gia Huy</p>

      <h5>Monitor</h5>
      <p>Nguyen Anh Tuan</p>
    </div>

    <div class="contact">
      <h3>CONTACT FORM</h3>
      <form action="post">
        <div class="txtfield">
          <input type="text" required />
          <label> Name </label>
        </div>

        <div class="txtfield">
          <input type="text" required />
          <label> Phone </label>
        </div>

        <div class="txtfield">
          <input type="text" required />
          <label> Email </label>
        </div>

        <div class="txtfield">
          <input type="text" required />
          <label> Message </label>
        </div>

        <input type="Submit" value="Send message" />
      </form>
    </div>
  </div>
  <footer>
    &copy; Copyright 2021 HTML.am
    <hr />
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
      Ipsum has been the industry's standard dummy text ever since the 1500s
    </p>
  </footer>
</div>
