<link rel="stylesheet" href="/css/style/stylecrud.css">
<link rel="stylesheet" href="/css/style/style.css">


<div class="item2">
  <div class="table">
    <div class="but">
      <button id="btnCreate" class="create"> Create </button>
    </div>
    <table class="table table-light">
      <thead>
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Category</th>
          <th>Price</th>
          <th>Size</th>
          <th>Quantity</th>
          <th>Update</th>
          <th>Delete</th>

        </tr>
      </thead>
      <tbody id="sheet">
        <!-- <tr>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td > UPDATE</td>
          <td >DELETE</td>
        </tr>
        <tr>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td > UPDATE</td>
          <td>DELETE</td>
        </tr>
      
        <tr>
          <td>nam1</td>
          <td> <img src="" alt=""> Hinh</td>
          <td>quote1</td>
          <td>desciption1</td>
          <td>name </td>
          <td><a href="#"> Update </a></td>
          <td><a href="#">Delete</a></td>
        </tr> -->
      </tbody>
    </table>
  </div>

  <div class="aside">
    <div class="formbg"  >
      <form class="forminput" id="createFrm" action="" method="POST" style="display:none;">
        <div class=row>
          <h2 id="titleForm">Create</h2>
          <button type="button" id="createClearBtn">Clear</button>
        </div>
        <div class="row">
          <select class="form-control text-center" id="selectInfo" name="info" required>
            <option class="form-control text-center" value="">------Info------</option>
          </select>
        </div>

        <div class="row">
          <label for="">Price</label>
          <input type="number" min="1" id="inputPrice" name="price" class="form-control" placeholder="Price" required
          autofocus />
        </div>

        <div class="row">
          <label for="inputQuote" class="sr-only">Size</label>
          <input type="number" min="0.5" step="0.5" id="inputSize" name="size" class="form-control" placeholder="Size"
            required />
        </div>

        <div class="row">
          <label for="inputDecription" class="sr-only">Quantity</label>
          <input type="number" min="1" step="1" id="inputQuantity" name="quantity" class="form-control"
            placeholder="Quantity" required />
        </div>
        <br />
        <button class="btnCreate" type="submit">CREATE</button>
      </form>
     
    </div>
    <div class="formbg">
      <form class="forminput" id="updateFrm" action="" method="POST" style="display: none;">
        <div class=row>
          <h2 id="titleForm">UPDATE</h2>
        </div>
        <input type="hidden" name="id">
        <div class="row">

          <select class="form-control text-center" id="selectInfo" name="info" required>
            <option class="form-control text-center" value="">------Info------</option>
          </select>
        </div>

        <div class="row">
            <!-- <label for="" class="sr-only">Price</label> -->
          <input
            type="number"
            min="1"
            id="inputPrice"
            name="price"
            class="form-control"
            placeholder="Price"
            autofocus
            required
          />
          
        </div>

        <div class="row">

            <!-- <label for="" class="sr-only">Size</label> -->
            <input
            type="number"
            min="0.5"
            step="0.5"
            id="inputSize"
            name="size"
            class="form-control"
            placeholder="Size"
            required
          />
        </div>

        <div class="row">
          <!-- <label for="" class="sr-only">Quantity</label> -->
          <input
            type="number"
            min="1"
            step="1"
            id="inputQuantity"
            name="quantity"
            class="form-control"
            required
            placeholder="Quantity"
            required
          />
        </div>
        
        <br />
        <button type="submit">UPDATE</button>
      </form>
    </div>
  </div>
</div>
</div>
<script src="/js/app/api/product.js"></script>
<script src="/js/app/api/productInfo.js"></script>
<script src="/js/app/product/index.js"></script>