<link rel="stylesheet" href="/css/style/stylelogin.css" />
<div class="item2">
  <div class="align">
    <div class="login" id="changePassword">
      <h1>Change Password</h1>
      <form id="changePasswordFrm">
        <div class="txtfield">
          <input
            type="password"
            id="currentPassword"
            name="currentPassword"
            placeholder="Current Password"
            required
            autofocus
          />
          <label>Current Password</label>
        </div>

        <div class="txtfield">
          <input
            type="password"
            id="newPassword"
            name="newPassword"
            placeholder="Current Password"
            required
            autofocus
          />
          <label>New Password</label>
        </div>
        <input type="submit" value="Save" />
      </form>
    </div>
  </div>
</div>

<script src="/js/app/user/changePassword.js"></script>
