<form class="form-signin" action="" method="POST">
  <h2 class="form-signin-heading">Please Login</h2>

  <label for="inputEmail" class="sr-only">User Name</label>
  <input
    type="text"
    id="inputUserName"
    name="username"
    class="form-control"
    placeholder="User Name"
    required
    autofocus
  />

  <label for="inputPassword" class="sr-only">Password</label>
  <input
    type="password"
    id="inputPassword"
    name="password"
    class="form-control"
    placeholder="Password"
    required
  />

  <br />

  <button class="btn btn-lg btn-default btn-block" type="submit">Sign in</button>
</form>
