<div class="container">{{> navbar}}</div>
<div class="row">
  <div class="col-4"></div>
  <div class="col-8">
    <div>
      <div>
        <h2>{{o.name}}</h2>
      </div>
      <div>{{o.quote}}</div>
      <div class="row">
        <div class="col-4">
          <div>
            <img
              src="/images/productInfo/{{o.info.imgUrl}}"
              width="250px"
              alt="{{o.info.imgUrl}}"
            />
          </div>
        </div>
        <div class="col-8">
          <div>DESCRIPTION:{{o.info.description}}</div>
        </div>
      </div>
      <div>
        <form id="frm" name="frm">
          <input type="hidden" name="id" value="{{o._id}}" />
          <!-- <input name="num" type="number" min="1" max="50" step="1" value="1" /> -->
          <button>Add To CART</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/app/api/productInfo.js"></script>
<script src="/js/app/api/cart.js"></script>
<script src="/js/app/home/detail.js"></script>
