<div class="container">{{> navbar}}</div>
<div class="row">
  <div class="col-4"></div>
  <div class="col-8">
    <form action="" id="frm">
      <div>
        <input type="hidden" name="id" value="{{o._id}}" />
        <div><h2>{{o.name}}</h2></div>
        <div>{{o.quote}}</div>
        <div class="row">
          <div class="col-4">
            <div><img src="/images/coffee/{{o.imgUrl}}" width="250px" alt="" /></div>
          </div>
          <div class="col-8">
            <div>DESCRIPTION:{{o.description}}</div>
          </div>
        </div>
        <div><button id="btnCart">Add To CART</button></div>
      </div>
    </form>
  </div>
</div>

<script src="/js/app/api/coffee.js"></script>
<script src="/js/app/api/cart.js"></script>
<script src="/js/app/home/detail.js"></script>
