<link rel="stylesheet" href="/css/style/style.css" />
<div class="item2">
  <div class="th">
    <div class="text">
      <h1>Trustable Vietnam original coffee</h1>
      <p>
        Thương hiệu cà phê nhà trồng được sản xuất theo quy trình 100% organic cho những
        sản phẩm cà phê trọn vẹn hương vị nhất.
      </p>
      <a href="/shop"><button>SHOP NOW</button> </a>
    </div>
  </div>
</div>

<div class="item3">
  <div class="story">
    <div class="col">
      <img class="storyimg" src="images/img/p1.jpg" style="height: 400px" />
    </div>
    <div class="cov">
      <div class="sttext">
        <h2>An homemade trustable coffee</h2>
        <p>
          It was popularised in the 1960s with the release of Letraset sheets containing.
        </p>
        <h2>An homemade trustable coffee</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
          Ipsum has been the industry's standard dummy text ever since the 1500s, when an
          unknown printer took a galley of type and scrambled it to make a type specimen
          book.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="item4">
  <div class="carddis">
    <h1>This is an articles</h1>
    <h3>
      This is a deck that is not created with dummy text and crazy sentences. Those are
      very good.
    </h3>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
      Ipsum has been the industry's standard dummy text ever since the 1500s, when an
      unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
  </div>

  <div class="tricard">
    <div class="card">
      <img class="hinh" src="images/img/c1.jpg" alt="coffee" />
      <div class="container">
        <h2><b>John Doe</b></h2>
        <h4>Architect & Engineer</h4>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
          Ipsum has been the industry's standard dummy text ever since the 1500s, when an
          unknown printer took a galley of type and scrambled it to make a type specimen
          book. It has survived not only five centuries, but also the leap into electronic
          typesetting, remaining essentially unchanged.
        </p>
      </div>
    </div>

    <div class="card">
      <img class="hinh" src="images/img/c2.jpg" alt="coffee" />
      <div class="container">
        <h2><b>John Doe</b></h2>
        <h4>Architect & Engineer</h4>

        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
          Ipsum has been the industry's standard dummy text ever since the 1500s, when an
          unknown printer took a galley of type and scrambled it to make a type specimen
          book. It has survived not only five centuries, but also the leap into electronic
          typesetting, remaining essentially unchanged.
        </p>
      </div>
    </div>

    <div class="card">
      <img class="hinh" src="images/img/c3.jpg" alt="coffee" />
      <div class="container">
        <h2><b>John Doe</b></h2>
        <h4>Architect & Engineer</h4>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
          Ipsum has been the industry's standard dummy text ever since the 1500s
        </p>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="item5">
  <div class="container1">
    <div class="col">
      <h1>Contact us</h1>
      <hr />
      <div class="contact">
        <h4>Email address:</h4>
        <p>abcd.xyz@gmail.com</p>

        <h4 style="padding-top: 10px">Number</h4>
        <!-- <p>0989600607 Mr Thinh</p> -->
      </div>

      <div class="buttons">
        <a href="#"> <img src="images/img/fb.png" alt="" /> </a>
        <a href="#"> <img src="images/img/ig.png" alt="" /> </a>
        <a href="#"> <img src="images/img/iyt.png" alt="" /> </a>
      </div>
    </div>

    <div class="col" style="margin-top: 0px; padding-bottom: 30px; padding-top: 5px">
      <h1>Quick access</h1>
      <ul>
        <li><a href="/shop"> CÀ PHÊ </a></li>
        <li><a href="/aboutus"> CHÚNG TÔI </a></li>
        <li><a href="/contact"> LIÊN HỆ </a></li>
      </ul>
    </div>
  </div>
</div>

<!-- <script>
  axios.get("http://168.63.133.155/api/Covid/GetCityList").then((res) => {
    console.log(res.data);
  });
</script> -->
