<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
<div class="row">
  <div class="col-5"></div>
  <div class="col-7">
    <form action="/search" id="searchFrm" method="GET">
      <div>
        <input type="text" name="q" value="{{q}}" placeholder="SEARCH" />
        <button class="alert-danger">Search</button>
      </div>
    </form>
  </div>
</div>
{{#if p}}
<div class="row">
  <div class="col-3"></div>
  <div class="col-9">{{{pag p n}}}</div>
</div>
{{/if}} {{#if message }}
<div class="text-center" style="color: cadetblue; margin-top: 10px">
  <b>{{{message}}}</b>
</div>
{{/if}}
<div class="row" id="sheet">
  {{#each a}}
  <div class="col-3">
    <div style="text-align: left">{{this.info.name}} {{this.size}}kg</div>
    <div style="text-align: left">"{{this.info.subname}}"</div>
    <div>
      <a href="/detail/{{_id}}"
        ><img
          src="/images/productInfo/{{this.info.imgUrl}}"
          alt="{{imgUrl}}"
          width="100px"
        />
      </a>
    </div>
    <div>
      <p><b>{{this.price}}</b></p>
    </div>
  </div>
  {{/each}}
</div>
{{#if loadmore}}
<div><button value="1" id="btnLoadmore">Load more</button></div>
{{/if}}

<script src="/js/app/api/product.js"></script>
<script src="/js/app/home/index.js"></script>
<!-- 
<table>
  <tr>
    <th>Name</th>
    <th>Quote</th>
    <th>Img</th>
    <th>Description</th>
  </tr>
  {{#each a}}
  <tr>
    <td>{{name}}</td>
    <td>{{quote}}</td>
    <td><img src="{{imgUrl}}" alt="" /></td>
    <td>{{description}}</td>
  </tr>
  {{/each}}
</table> -->
