<link rel="stylesheet" href="/css/style/styleshop.css" />

<div class="aside"></div>
<div class="background">
  <div class="row" id="sheet">
    <div class="cardproduct">
      <img src="/images/packaging/culli.jpg" alt="" class="imgproduct" />
      <h2 id="productName" class="name">Culli roasted coffee</h2>
      <h3 class="subname">Cà phê culli rang xay</h3>
      <div class="hc">
        <h4 id="productPrice" class="price">45.000 đ</h4>
        <button class="add">Thêm vào giỏ</button>
      </div>
    </div>
  </div>
</div>
