<link rel="stylesheet" href="/css/style/stylecrud.css">
<link rel="stylesheet" href="/css/style/style.css">


<div class="item2">
  <div class="table">
    
    <table class="table table-light">
      <thead>
        <tr>
            <th>Name</th>
            <th>Sub Name</th>
            <th>Unit Price</th>
            <th style="color: gold; background-color: grey"  id="clearCart">Clear Cart</th>

        </tr>
      </thead>
      <tbody id="sheet">
      
          <tr>
            <td></td>
            <td></td>
            <td id="total" style="background-color: gray;"></td>
            <td><button id="checkoutBtn"> Check Out</button></td>
          </tr>
      </tbody>
    </table>
  </div>

 
</div>
</div>
<script src="/js/app/api/cart.js"></script>
<script src="/js/app/cart/index.js"></script>
