<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
<table class="table table-bordered">
  <thead class="thead-dark text-center">
    <tr>
      <th>Name</th>
      <th>Sub Name</th>
      <th>Unit Price</th>
      <th style="color: gold; background-color: grey" id="clearCart">Clear Cart</th>
    </tr>
  </thead>
  <tbody class="text-center" id="sheet">
    <!-- <tr>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>Delete</td>
    </tr>
    <tr>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>Delete</td>
    </tr> -->
    <tr>
      <td></td>
      <td></td>
      <td id="total"></td>
      <td><button>CHECKOUT</button></td>
    </tr>
  </tbody>
</table>
<tr>
  <td></td>
</tr>
<script src="/js/app/api/cart.js"></script>
<script src="/js/app/cart/index.js"></script>
