<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- css -->
    <!-- <link rel="stylesheet" href="/css/style/style.css" /> -->
    <!-- library -->
    <script src="/js/libs/jquery.js"></script>
    <script src="/js/libs/axios.min.js"></script>
    <script src="/js/libs/qs.min.js"></script>
    <!-- api -->
    <script src="/js/app/api/base.js"></script>
    <script src="/js/app/api/app.js"></script>
    <script src="/js/app/helper.js"></script>
  </head>
  <body>
    <!-- <div class="container">{{> navbar}}</div> -->
    <div class="item1">
      <header>
        <div class="left">
          <a href="/"><img class="logo" src="/images/img/logo2.png" alt=""   width="70px" /></a>
          <nav>
            <ul class="nav_links">
              <li><a href="/">HOME</a></li>
              <li><a href="/shop">COFFEE</a></li>
              <li><a href="/aboutus">ABOUT US</a></li>
            </ul>
          </nav>
        </div>
        <div class="right">
          {{#if isAuthenticated}}
            <a href="/user/logout"> <button class="btnlogin">Logout</button> </a>
          {{else}}
          <a href="/user/register"> <button class="btnsignin">Register</button> </a>
          <a href="/user/login"><button class="btnlogin">Login</button> </a>
          </li>
          {{/if}}
        
        </div>
      </header>
    </div>
    <div>
      <div id="success_msg" style="display: none;background-color:limegreen " class="alert alert-success"></div>
      <div id="error_msg" style="display: none;background-color: indianred" class="alert alert-danger"></div>
    </div>
    <div class="container">{{{body}}}</div>
  </body>
</html>
